<div class="row">
  <div class="col-md-12 bg-white p-0 m-0">
    <div class="main-card">
      <div class="card-body p-0 m-0">
        <div class="profile-cover">
          <img
            src="../../../assets/images/profile_cover.png"
            class="p-0 m-0"
            width="100%"
            height="140px"
            alt="profile-cover"
          />
          <div class="user_img text-center" style="margin-top: -55px;">
            <img
              src="../../../assets/images/user img.png"
              class="bg-white p-2"
              style="border-radius: 50%; border-color: gray;"
              alt="user_img"
              width="120px"
            />
          </div>
          <div class="text-center mb-3">
            <h3>Jane Doe</h3>
            <h6 style="color: gray; letter-spacing: 2px;">janedoe@gmail.com</h6>
            <div class="menu-header-btn-pane">
              <button class="btn btn-success btn-rounded py-1 mt-1 mb-2">
                <img
                  src="../../../assets/images/tick.png"
                  width="12px"
                  alt="tick"
                />
                Vérifié
              </button>
              <!-- <button class="btn btn-warning" *ngIf="!mClient.emailVerified">
                Non vérifié
              </button> -->
            </div>
          </div>
          <div class="row w-50 m-auto text-center">
            <div class="col-md-3 mr-auto">
              <h2 style="color: blue;">6</h2>
              <h6>Total Orders</h6>
            </div>
            <div class="col-md-3">
              <h2 class="text-success">2</h2>
              <h6>Validated</h6>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="text-danger">4</h2>
              <h6>Rejected</h6>
            </div>
          </div>
          <div class="row my-3 mx-auto" style="width: 94%;">
            <div class="col-md-12 bg-light pt-4 pb-0 px-4">
              <h2>Account Info</h2>
              <div class="row mx-auto my-4" style="width: 94%;">
                <div class="col-md-3 mr-auto">
                  <div class="py-2">
                    <h5 style="color: #202020;">Username</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">John doe</h6>
                  </div>

                  <div class="py-2">
                    <h5 style="color: #202020;">Email</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">
                      janedoe@gmail.com
                    </h6>
                  </div>

                  <div class="py-2">
                    <h5 style="color: #202020;">Phone number</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">
                      +218923528753
                    </h6>
                  </div>
                </div>
                <div class="col-md-3 w-auto">
                  <div class="py-2">
                    <h5 style="color: #202020;">Num Patent</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">8516972Z</h6>
                  </div>

                  <div class="py-2">
                    <h5 style="color: #202020;">Num CIN</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">08961453</h6>
                  </div>

                  <div class="py-2">
                    <h5 style="color: #202020;">Registered On</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">
                      06/Jun/2020 <br />
                      08:35 PM
                    </h6>
                  </div>
                </div>
                <div class="col-md-3 ml-auto">
                  <div class="py-2">
                    <h5 style="color: #202020;">REF</h5>
                    <h6 style="color: #787c80;" class="pl-4 py-2">CL0048</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3 mt-4 mx-auto" style="width: 94%;">
            <div class="col-md-12 bg-light pt-4 pb-0 px-4">
              <h2>Edit Information</h2>
              <div class="row mx-auto my-4" style="width: 94%;">
                <div class="col-md-12 mr-auto">
                  <div class="py-2 row w-100 my-3">
                    <h5 class="col-md-3 mr-auto" style="color: #202020;">
                      Email
                    </h5>
                    <div class="col-md-5 col-12 ml-auto">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i
                              class="fa fa-user-circle"
                              style="cursor: pointer;"
                            ></i>
                          </div>
                        </div>

                        <input
                          
                          style="width: 240px;"
                          name="email"
                          id="exampleEmail"
                          value="janedoe@gmail.com"
                          type="email"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="py-2 row w-100 my-3">
                    <h5 class="col-md-3 mr-auto" style="color: #202020;">
                      Phone number
                    </h5>
                    <div class="col-md-5 col-12 ml-auto">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i
                              class="fas fa-phone"
                              style="cursor: pointer;"
                            ></i>
                          </div>
                        </div>

                        <input
                          
                          style="width: 240px;"
                          name="phone"
                          value="+218923528753"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="py-2 row w-100 my-3">
                    <h5 class="col-md-3 mr-auto" style="color: #202020;">
                      Password
                    </h5>
                    <div class="col-md-5 col-12 ml-auto">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-lock" style="cursor: pointer;"></i>
                          </div>
                        </div>

                        <input
                          
                          style="width: 240px;"
                          name="password"
                          value="********"
                          type="password"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-5 ml-auto">
                      <button class="account-settings-buttons mr-2 btn btn-outline-primary px-4">Change Password</button>
                      <button class="account-settings-buttons mr-2 btn btn-primary" style="padding-right: 3.15rem; padding-left: 3.15rem;">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
