<!-- Notifications -->
<app-client-stats></app-client-stats>
<div class="row">
  <div class="p-2">
    <!-- <p-toast key="note"></p-toast> -->
  </div>

  <!-- Has been refactored below  -->
  <!-- <p-dialog
    header="Détail Commande"
    [(visible)]="displayModal"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="order_details_table">
      <h2>Détails de la commande</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre Des Codes</th>
              <th scope="col">Montant Code de recharge</th>
              <th scope="col" *ngIf="!isValidated && !isRejected">
                Totale Commande
              </th>
              <th scope="col">Date Émission</th>
              <th scope="col" *ngIf="isValidated">Date Validation</th>
              <th scope="col" *ngIf="isRejected">Date Refus</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <h5>x {{ selectedOrder.nbCodes }}</h5>
              </td>
              <td>
                <h5>{{ selectedOrder.ticketAmount / 1000 }} DT</h5>
              </td>
              <td *ngIf="!isValidated && !isRejected">
                <p>
                  <b>TOT </b>
                  {{
                    (selectedOrder.ticketAmount * selectedOrder.nbCodes) / 1000
                  }}
                  DT
                </p>
              </td>

              <td>
                <p>{{ selectedOrder.issueDate | date: "short":"fr" }}</p>
              </td>
              <td *ngIf="isRejected || isValidated">
                <p>{{ selectedOrder.validationDate | date: "short":"fr" }}</p>
              </td>
            </tr>

            <tr>
              <td>
                <h4 class="text-secondary">
                  Commentaire <span *ngIf="isRejected">[Refus]</span>
                </h4>
              </td>
              <td>
                <h5></h5>
              </td>
              <td>
                <p [ngClass]="{ 'text-danger': isRejected }">
                  <b>{{ selectedOrder.comment }}</b>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <p-footer>
      <div role="group" class="btn-group-sm btn-group nav">
        <button
          class="mb-2 mr-2 btn btn-shadow btn-primary"
          (click)="displayModal = false"
        >
          OK
        </button>
      </div>
    </p-footer>
  </p-dialog> -->

  <!-- modal view -->
  <p-dialog
    header="Détail Commande"
    [(visible)]="displayModal"
    [style]="{ width: '50vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="order_details_table">
      <!-- <h2>Détails de la commande</h2> -->
      <div class="container px-0">
        <div class="row">
          <div class="col-md-8 col-8 d-flex align-items-center">
            <i style="font-size: 14pt" class="fas fa-clipboard"></i>
            <p class="para__text ml-3 d-inline" style="font-size: 18px">
              Nombre Des Codes
            </p>
          </div>
          <div class="col-md-4 col-4 d-flex align-items-center">
            <h6 class="mb-0" style="color: gray">
              x {{ selectedOrder.nbCodes }}
            </h6>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-8 col-8 d-flex align-items-center">
            <i style="font-size: 14pt" class="fas fa-file-invoice-dollar"></i>
            <p class="para__text ml-3 d-inline" style="font-size: 18px">
              Montant Code de recharge
            </p>
          </div>
          <div class="col-md-4 col-4 d-flex align-items-center">
            <h6 class="mb-0" style="color: gray">
              {{ selectedOrder.ticketAmount / 1000 }} DT
            </h6>
          </div>
        </div>
        <hr />

        <div class="row" *ngIf="!isValidated && !isRejected">
          <div class="col-md-8 col-8 d-flex align-items-center">
            <i style="font-size: 14pt" class="fas fa-clipboard"></i>
            <p class="para__text ml-3 d-inline" style="font-size: 18px">
              Totale Commande
            </p>
          </div>
          <div class="col-md-4 col-4 d-flex align-items-center">
            <h6 class="mb-0" style="color: gray">
              <b>TOT </b>
              {{ (selectedOrder.ticketAmount * selectedOrder.nbCodes) / 1000 }}
              DT
            </h6>
          </div>
        </div>
        <hr *ngIf="!isValidated && !isRejected" />

        <div class="row">
          <div class="col-md-8 col-8 d-flex align-items-center">
            <i style="font-size: 14pt" class="fas fa-calendar"></i>
            <p class="para__text ml-3 d-inline" style="font-size: 18px">
              Date Émission
            </p>
          </div>
          <div class="col-md-4 col-4 d-flex align-items-center">
            <h6 class="mb-0" style="color: gray">
              {{ selectedOrder.issueDate | date: "short":"fr" }}
            </h6>
          </div>
        </div>
        <hr />

        <div class="row" *ngIf="isValidated || isRejected">
          <div class="col-md-8 col-8 d-flex align-items-center">
            <i style="font-size: 14pt" class="fas fa-calendar"></i>
            <p
              *ngIf="isValidated"
              class="ml-3 d-inline"
              style="font-size: 18px"
            >
              Date Validation
            </p>
            <p *ngIf="isRejected" class="ml-3 d-inline" style="font-size: 18px">
              Date Refus
            </p>
          </div>
          <div
            class="col-md-4 col-4 d-flex align-items-center"
            *ngIf="isRejected || isValidated"
          >
            <h6 class="mb-0" style="color: gray">
              <p>{{ selectedOrder.validationDate | date: "short":"fr" }}</p>
            </h6>
          </div>
        </div>
        <hr *ngIf="isValidated || isRejected" />

        <div class="row">
          <div class="col-md-8 d-flex align-items-center mb-2 mb-md-0">
            <i style="font-size: 14pt" class="fas fa-comment"></i>
            <p style="font-size: 18pt" class="text-secondary ml-3">
              Commentaire <span *ngIf="isRejected">[Refus]</span>
            </p>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <p class="text-warning" *ngIf="!selectedOrder.comment.length">
              Pas de commentaires
            </p>
            <p
              *ngIf="selectedOrder.comment.length"
              [ngClass]="{ 'text-danger': isRejected }"
            >
              <b>{{ selectedOrder.comment }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <div role="group" class="btn-group-sm btn-group nav">
        <!-- <button class="mb-2 mr-2 btn btn-shadow btn-secondary">
          OK
        </button> -->
        <button
          class="mb-2 mr-2 btn btn-shadow btn-primary"
          (click)="displayModal = false"
        >
          OK
        </button>
      </div>
    </p-footer>
  </p-dialog>

  <p-dialog
    header="Choix Format d'impression"
    [(visible)]="displayPrintModal"
    [style]="{ width: '36vw' }"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <!-- <div class="order_details_table"> -->
    <!-- <h2>Détails de la commande</h2> -->
    <!-- <div class="grid-menu grid-menu-2col"> -->
    <!-- <div class="mb-3 card"> -->
    <div class="p-3 d-block card-footer">
      <div class="grid-menu grid-menu-2col">
        <div class="no-gutters row">
          <div class="p-2 col-sm-6">
            <button
              class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate"
              (click)="downloadPrintablePDF(1)"
              [disabled]="downloading"
            >
              <i
                class="lnr-printer text-alternate opacity-7 btn-icon-wrapper mb-2"
              >
              </i>
              Classique
            </button>
          </div>
          <div class="p-2 col-sm-6">
            <button
              class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary"
              (click)="downloadPrintablePDF(2)"
              [disabled]="downloading"
            >
              <i class="lnr-gift text-primary opacity-7 btn-icon-wrapper mb-2">
              </i>
              Personalisé
            </button>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <p-footer>
      <div role="group" class="btn-group-sm btn-group nav">
        <!-- <button class="mb-2 mr-2 btn btn-shadow btn-secondary">
          OK
        </button> -->
        <button
          *ngIf="!downloading"
          class="mb-2 mr-2 btn btn-shadow btn-primary"
          (click)="displayPrintModal = false"
        >
          Annuler
        </button>
      </div>
      <div class="mb-3 progress" *ngIf="downloading">
        <div
          class="progress-bar progress-bar-animated bg-primary progress-bar-striped"
          role="progressbar"
          aria-valuenow="100"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: 100%"
        ></div>
      </div>
    </p-footer>
  </p-dialog>

  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <!-- loader screen -->
      <div class="block-loader"></div>
      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>

      <div class="card-body">
        <h2 class="card-title ml-4 mt-4 sizing-sm">
          Liste Des Commandes
          <div
            [ngClass]="{
              'badge badge-pill ml-2': true,
              'badge-success': isValidated,
              'badge-info': !isValidated && !isRejected,
              'badge-danger': !isValidated && isRejected
            }"
          >
            {{ title }}
          </div>
        </h2>

        <div class="mr-4 mb-4">
          <div class="card-body m-2">
            <table
              style="width: 100%"
              id="orderTables"
              class="table table-hover table-striped table-bordered"
            >
              <thead>
                <tr>
                  <th>REF COMMANDE</th>
                  <th>NB CODES</th>
                  <th>MONTANT CODE RECHARGE</th>
                  <th>MONTANT COMMANDE</th>
                  <th>DATE EMISSION</th>
                  <th>DATE VALIDATION</th>
                  <th>DATE REFUS</th>

                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let order of orders">
                  <td>{{ order.orderAuto }}</td>
                  <td>{{ order.nbCodes }}</td>
                  <td>{{ order.ticketAmount / 1000 }} DT</td>
                  <td>{{ (order.ticketAmount * order.nbCodes) / 1000 }} DT</td>
                  <td>{{ order.issueDate | date: "short":"fr" }}</td>
                  <td *ngIf="isValidated || isRejected">
                    {{ order.validationDate | date: "short":"fr" }}
                  </td>
                  <td>
                    <button
                      class="ml-2 mr-2 btn-icon btn-transition btn btn-outline-primary collapsed"
                      aria-expanded="false"
                      (click)="showDialog(order)"
                    >
                      <i class="pe-7s-upload btn-icon-wrapper"> </i>Aperçu
                    </button>

                    <button
                      *ngIf="isValidated"
                      class="ml-2 mr-2 btn-icon btn-transition btn btn-outline-focus collapsed"
                      aria-expanded="false"
                      (click)="downloadCSV(order)"
                    >
                      <i class="pe-7s-cloud-download btn-icon-wrapper"> </i
                      >Télécharger
                    </button>
                  </td>
                </tr> -->
              </tbody>
              <tfoot>
                <tr class="d-s-none">
                  <th>REF COMMANDE</th>
                  <th>NB CODES</th>
                  <th>MONTANT CODE RECHARGE</th>
                  <th>MONTANT COMMANDE</th>
                  <th>DATE EMISSION</th>
                  <th>DATE VALIDATION</th>
                  <th>DATE REFUS</th>
                  <th>ACTIONS</th>
                </tr>
                <tr>
                  <th class="d-s-none"></th>
                  <th class="d-s-none"></th>
                  <th class="d-s-none"></th>
                  <th class="d-s-none"></th>
                  <th style="text-align: right">Total:</th>
                  <th colspan="3" id="sum"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
