<!-- Notifications -->

<div class="row">
  <!-- <div class="p-2">
    <p-toast key="note"></p-toast>
  </div> -->
  <div class="col-md-4 col-xl-4">
    <div class="widget-chart widget-chart2 text-left mb-3 card">
      <div class="container">
        <div class="row">
          <div class="col-3 px-0 ml-2 my-auto">
            <img
              src="../../../assets/icons/Group 157.png"
              width="43px"
              alt="validated_orders"
            />
          </div>
          <div
            class="widget-content-wrapper col-8 px-0 mx-auto"
            style="margin-top: 8px; margin-bottom: 8px;"
          >
            <div class="widget-content-left">
              <div class="widget-heading">Clients Registered</div>
              <div class="widget-subheading">Number of clients registered</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers mb-0">
                <div
                  *ngIf="isUsersLoading"
                  class="spinner-border spinner-border"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="all_clients">
                  <span
                    *ngIf="!isUsersLoading"
                    style="font-size: 75%;"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button
      style="
        float: right;
        position: absolute;
        bottom: 30%;
        text-decoration: underline;
        right: 5%;
      "
      class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-danger"
    >
      Détail
    </button> -->
  </div>
  <!-- (click)="openStockDetails('available')" -->
  <div class="col-md-4 col-xl-4">
    <div class="widget-chart widget-chart2 text-left mb-3 card">
      <div class="container">
        <div class="row">
          <div class="col-3 px-0 ml-2 my-auto">
            <img
              src="../../../assets/icons/verified.png"
              width="60px"
              alt="validated_users"
            />
          </div>
          <div
            class="widget-content-wrapper col-8 px-0 mx-auto"
            style="margin-top: 8px; margin-bottom: 8px;"
          >
            <div class="widget-content-left">
              <div class="widget-heading">Checked Clients</div>
              <div class="widget-subheading">Number of checked clients</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers mb-0">
                <div
                  *ngIf="isUsersLoading"
                  class="spinner-border spinner-border"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="checked_clients">
                  <span
                    *ngIf="!isUsersLoading"
                    style="font-size: 75%;"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button
      style="
        float: right;
        position: absolute;
        bottom: 30%;
        text-decoration: underline;
        right: 5%;
      "
      class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-warning"
    >
      Détail
    </button> -->
  </div>
  <!-- (click)="openStockDetails('sold')" -->
  <div class="col-md-4 col-xl-4">
    <div class="widget-chart widget-chart2 text-left mb-3 card">
      <div class="container">
        <div class="row">
          <div class="col-3 px-0 ml-2 my-auto">
            <img
              src="../../../assets/icons/not-verified.png"
              width="60px"
              alt="rejected_users"
            />
          </div>
          <div
            class="widget-content-wrapper col-8 px-0 mx-auto"
            style="margin-top: 8px; margin-bottom: 8px;"
          >
            <div class="widget-content-left">
              <div class="widget-heading">Not verified</div>
              <div class="widget-subheading">
                Number of not verified clients
              </div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers mb-0">
                <div
                  *ngIf="isUsersLoading"
                  class="spinner-border spinner-border"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="rejected_clients">
                  <span
                    *ngIf="!isUsersLoading"
                    style="font-size: 75%;"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button
      style="
        float: right;
        position: absolute;
        bottom: 30%;
        text-decoration: underline;
        right: 5%;
      "
      class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-warning"
    >
      Détail
    </button> -->
  </div>
  <!-- (click)="openStockDetails('sold')" -->

  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <!-- loader screen -->
      <div class="block-loader"></div>
      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>

      <div class="card-body">
        <h3 class="ml-4 mt-4">
          Liste Des Clients
        </h3>

        <div class="mr-4 mb-4">
          <div class="card-body m-2">
            <table
              style="width: 100%;"
              id="clientTables"
              class="table table-hover table-striped table-bordered"
            >
              <thead>
                <tr>
                  <th>REF CLIENT</th>
                  <th>PATENTE</th>
                  <th>CIN</th>
                  <th>NOM & PRENOM</th>
                  <th>INSCRIT LE</th>
                  <th style="text-transform: uppercase;">état COMPTE</th>
                  <th style="text-transform: uppercase;">
                    dernière commande validée
                  </th>
                  <th>ACTIONS</th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngFor="let client of modifiedClients">
                  <td>{{ client.autoID }}</td>
                  <td>{{ client.username }}</td>
                  <td>{{ client.cin }}</td>
                  <td>{{ client.fname + " " + client.lname }}</td>
                  <td>{{ client.creationAt | date: "short":"fr" }}</td>
                  <td>
                    <div
                      [ngClass]="{
                        'badge badge-pill ml-2': true,
                        'badge-success': client.emailVerified,
                        'badge-danger': !client.emailVerified
                      }"
                    >
                      {{ client.emailVerified ? "Vérifié" : "Non Vérifié" }}
                    </div>
                  </td>
                  <td *ngIf="client.lastValidatedOrder">
                    {{
                      client.lastValidatedOrder.validationDate
                        | date: "short":"fr"
                    }}
                  </td>
                  <td *ngIf="!client.lastValidatedOrder">
                    {{ "-------------" }}
                  </td>
                  <td>
                    <button
                      class="ml-2 mr-2 btn-icon btn-transition btn btn-outline-primary collapsed"
                      aria-expanded="false"
                      (click)="openProfile(client)"
                    >
                      <i class="pe-7s-upload btn-icon-wrapper"> </i>Aperçu
                    </button>
                  </td>
                </tr> -->
              </tbody>
              <tfoot>
                <tr>
                  <th>REF CLIENT</th>
                  <th>PATENTE</th>
                  <th>CIN</th>
                  <th>NOM & PRENOM</th>
                  <th>INSCRIT LE</th>
                  <th style="text-transform: uppercase;">état COMPTE</th>
                  <th style="text-transform: uppercase;">
                    dernière commande validée
                  </th>

                  <th>ACTIONS</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
