<!-- Progress bar -->
<div class="progress-line"></div>

<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <!-- confirmation -->
    <form *ngIf="isSubmitted">
      <div class="h-100 bg-plum-plate bg-animation">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <div class="mx-auto app-login-box col-md-8">
            <div class="align-items-center" style="width: 20%; margin: 0 auto;">
              <h4 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="75px" />
                <span style="font-size: 1.5rem; color: #eccfca;">Orange</span>
                <span style="font-size: 1.4rem; color: #ffa66d;"
                  >&nbsp;Voucher</span
                >
                <!-- <span style="font-size: 1.5rem; color: #ffa66d;">oucher</span> -->
              </h4>
            </div>

            <div class="modal-dialog w-100 mx-auto">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                      <div>Bienvenue Cher Client,</div>
                      <span
                        >Votre demande d'inscription a été crée avec
                        succés.</span
                      >
                    </h4>
                    <h4 class="mt-2">
                      <div class="text-success">
                        Vous devriez attendre de notre part un courriel
                        d'approbation dans les prochaines minutes.
                      </div>
                    </h4>
                    <div>
                      <a
                        [routerLink]="['/login']"
                        class="btn-lg btn btn-secondary btn-block"
                        >Connecter</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- form signup -->
    <form [formGroup]="signupForm" id="signupForm" *ngIf="!isSubmitted">
      <div class="h-100 bg-plum-plate bg-animation">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <div class="mx-auto app-login-box col-md-8">
            <div class="align-items-center" style="width: 20%; margin: 0 auto;">
              <h4 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="75px" />
                <span style="font-size: 1.5rem; color: #eccfca;">Orange</span>
                <span style="font-size: 1.4rem; color: #ffa66d;"
                  >&nbsp;Voucher</span
                >
                <!-- <span style="font-size: 1.5rem; color: #ffa66d;">oucher</span> -->
              </h4>
            </div>

            <div class="modal-dialog w-100 mx-auto">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                      <div>Bienvenue Cher Client,</div>
                      <span>Veuillez créer votre compte ci-dessous.</span>
                    </h4>
                  </div>
                  <div class="form-row">
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <label for="examplePassword" class="ml-2"
                          >N° Patente</label
                        >

                        <input
                          name="login"
                          id="patente"
                          placeholder="N° Patente"
                          type="text"
                          class="form-control"
                          formControlName="login"
                          [(ngModel)]="user.username"
                        />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <label for="examplePassword" class="ml-2">CIN</label>
                        <input
                          name="cin"
                          id="cin"
                          placeholder="CIN"
                          type="text"
                          class="form-control"
                          formControlName="cin"
                          [(ngModel)]="user.cin"
                        />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <label for="examplePassword" class="ml-2">Nom</label>
                        <input
                          name="fname"
                          id="exampleFname"
                          placeholder="Nom"
                          type="text"
                          class="form-control"
                          formControlName="fname"
                          [(ngModel)]="user.fname"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="position-relative form-group">
                        <label for="exampleLname" class="ml-2">Prénom</label>
                        <input
                          name="lname"
                          id="exampleLname"
                          placeholder="Prénom"
                          type="text"
                          class="form-control"
                          formControlName="lname"
                          [(ngModel)]="user.lname"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="exampleEmail" class="ml-2">Email</label>

                      <div class="position-relative form-group">
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i
                                class="fa fa-inbox"
                                style="cursor: pointer;"
                              ></i>
                            </div>
                          </div>

                          <input
                            name="email"
                            id="exampleEmail"
                            placeholder="Email"
                            type="email"
                            class="form-control"
                            formControlName="email"
                            [(ngModel)]="user.email"
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <label for="password" class="ml-2">Mot de passe</label>

                      <div class="position-relative form-group">
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i
                                class="fa fa-eye-slash"
                                style="cursor: pointer;"
                                id="eye"
                              ></i>
                            </div>
                          </div>

                          <input
                            name="password"
                            id="password"
                            placeholder="Mot de passe "
                            type="password"
                            class="form-control"
                            formControlName="password"
                            [(ngModel)]="user.password"
                            required
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <label for="confirm_password" class="ml-2"
                        >Confirmer Mot de passe</label
                      >

                      <div class="position-relative form-group">
                        <div class="input-group mb-2 mr-sm-2">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i
                                class="fa fa-eye-slash"
                                style="cursor: pointer;"
                                id="eye_confirm"
                              ></i>
                            </div>
                          </div>

                          <input
                            id="confirm_password"
                            name="confirm_password"
                            placeholder="Confirmer Mot de passe ..."
                            type="password"
                            class="form-control"
                            formControlName="confirmPassword"
                            required
                          />
                        </div>
                      </div>
                      <div class="invalid-feedback">
                        Mot de passe inadéquate.
                      </div>
                    </div>
                  </div>

                  <h6 class="mb-0">
                    Vous avez déja un compte?
                    <a [routerLink]="['/login']" class="text-primary"
                      >Connecter maintenant</a
                    >
                  </h6>
                </div>
                <div class="modal-footer clearfix">
                  <div class="float-left">
                    <!-- <a [routerLink]="['/forgot-password']" class="btn-lg btn btn-link">Reset Password</a> -->
                  </div>
                  <div class="float-right">
                    <button
                      type="submit"
                      (click)="onSubmit()"
                      class="btn btn-primary btn-lg"
                    >
                      &nbsp;Procéder&nbsp;
                    </button>
                  </div>

                  <!-- Notifications -->
                </div>
                <div class="p-2">
                  <p-messages [(value)]="msgs"></p-messages>
                </div>
              </div>
              <div
                id="password-strength-container"
                [ngClass]="{
                  'mx-auto app-login-box col-lg-12 mbg-3 alert alert-warning alert-dismissible fade': true,
                  show: checkedPwd
                }"
                role="alert"
              >
                <span class="pr-2">
                  <i class="fa fa-question-circle"></i>
                </span>
                <span id="password-strength-status"
                  >Mot de passe actuel incorrect</span
                >
              </div>
            </div>
            <div class="text-center text-white opacity-8 mt-3">
              Copyright © DITRIOT 2020
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
