@media (max-width: 576px) {
  .responsive-edit-widget {
    align-self: center;
    margin-top: 20px;
    margin-right: -20px;
  }
}

@media (max-width: 1020px) {
  .responsive-edit-widget {
    align-self: center;
    margin-top: 20px;
    margin-right: -20px;
  }
}

@media (max-width: 768px) {
  .w-m-100 { width: 100% !important}
}