@media (max-width: 991.98px) {
  .popover,
  .dropdown-menu {
    position: absolute !important;
    top: 256px !important;
  }
}

@media (max-width: 772px) {
  .dropdown-menu-header .menu-header-content.btn-pane-right {
    flex-wrap: wrap !important;
  }

  .logout {
    display: block !important;
    width: 100% !important;
  }
}
