<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100">
      <div class="h-100 no-gutters row">
        <div class="d-none d-lg-block col-lg-4">
          <div class="slider-light">
            <div class="slick-slider">
              <div>
                <div
                  class="h-100 d-flex justify-content-center align-items-center bg-plum-plate"
                  tabindex="-1"
                >
                  <div
                    class="slide-img-bg"
                    style="
                      background-size: auto;
                      background-image: url('../../../assets/images/Slide img - 1.png');
                    "
                  ></div>
                  <div class="slider-content">
                    <h3>Orange Voucher</h3>
                    <p>
                      Vous pouvez utiliser le portail d'administration pour
                      gérer d'autres utilisateurs, groupes et rôles afin de
                      contrôler l'accès aux applications et aux ressources
                      disponibles sur un serveur portail.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div
                  class="h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                  tabindex="-1"
                >
                  <div
                    class="slide-img-bg"
                    style="
                      background-size: auto;
                      background-image: url('../../../assets/images/Slide img - 2.png');
                    "
                  ></div>
                  <div class="slider-content">
                    <h3>Orange Voucher</h3>
                    <p>
                      Vous pouvez utiliser le portail d'administration pour
                      gérer d'autres utilisateurs, groupes et rôles afin de
                      contrôler l'accès aux applications et aux ressources
                      disponibles sur un serveur portail.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div
                  class="h-100 d-flex justify-content-center align-items-center bg-sunny-morning"
                  tabindex="-1"
                >
                  <div
                    class="slide-img-bg"
                    style="
                      background-size: auto;
                      background-image: url('../../../assets/images/Slide img - 3.png');
                    "
                  ></div>
                  <div class="slider-content">
                    <h3>Orange Voucher</h3>
                    <p>
                      Vous pouvez utiliser le portail d'administration pour
                      gérer d'autres utilisateurs, groupes et rôles afin de
                      contrôler l'accès aux applications et aux ressources
                      disponibles sur un serveur portail.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8"
        >
          <div
            *ngIf="!isSubmitted"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
          <div class="app-logo" style="width: auto;">
            <h3 style="font-weight: 500;">
              <img src="../../../assets/images/full_logo_transparent.png" width="60%" />
              <!-- <span style="color: #f1745e;">Orange</span> -->
              <!-- <span style="color: #f7c193;">Voucher</span> -->
              <!-- <span style="font-size: 1rem; color: #f7c193;">oucher</span> -->
            </h3>
          </div>
            <h4>
              <div>Réinitialiser Votre Mot de passe</div>
              <span>Utilisez le formulaire ci-dessous pour le récupérer.</span>
            </h4>
            <div>
              <form [formGroup]="resetPasswordForm" id="resetForm">
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleEmail" class="">Email</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-inbox" style="cursor: pointer;"></i>
                          </div>
                        </div>
                        <input
                          name="email"
                          id="Email"
                          placeholder="Votre Email"
                          type="email"
                          formControlName="email"
                          class="form-control"
                          [(ngModel)]="email"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-4 d-flex align-items-center">
                  <h6 class="mb-0">
                    <a [routerLink]="['/login']" class="text-primary"
                      >Connecter avec autre compte</a
                    >
                  </h6>
                  <div class="ml-auto">
                    <button
                      class="btn btn-primary btn-lg"
                      type="submit"
                      (click)="resetPassword()"
                    >
                      Reset Password
                    </button>
                  </div>
                </div>
              </form>
              <br />
              <div class="mb-3 progress" *ngIf="isLoading">
                <div
                  class="progress-bar progress-bar-animated bg-focus progress-bar-striped"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 100%;"
                ></div>
              </div>
            </div>
          </div>
          <div
            *ngIf="isSubmitted && isComplete"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div class="text-success">
                Réinitialisation du mot de passe demandée
              </div>
              <span
                ><b
                  >Consultez votre courrier électronique pour obtenir des
                  instructions supplémentaires.</b
                ></span
              >
            </h4>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg"
              >Connecter</a
            >
          </div>
          <div
            *ngIf="isSubmitted && !isComplete"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div class="text-error">
                Réinitialisation du mot de passe n'est pas demandée!
              </div>
              <span
                ><b>Votre addresse mail n'est pas encore enregistrée.</b></span
              >
            </h4>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg"
              >Connecter avec autre compte</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100">
      <div class="h-100 no-gutters row">
        <div class="col-md-4 h-100">
          <div class="main-card mb-3 card">
            <div class="card-body p-0">
              <div
                id="carouselExampleControls1"
                class="carousel slide"
                data-ride="carousel"
              >
                <div class="carousel-inner">
                  <div tabindex="-1" class="carousel-item ">
                    <img
                      class="d-block w-100 h-100"
                      src="https://via.placeholder.com/800x400"
                      alt="First slide"
                    />
                  </div>
                  <div tabindex="-2" class="carousel-item h-100 d-flex justify-content-center align-items-center bg-plum-plate">
                    <img
                      class="d-block w-100 h-100"
                      src="https://via.placeholder.com/800x400"
                      alt="Second slide"
                    />
                  </div>
                  <div tabindex="-3" class="carousel-item h-100 d-flex justify-content-center align-items-center bg-plum-plate">
                    <img
                      class="d-block w-100 h-100"
                      src="https://via.placeholder.com/800x400"
                      alt="Third slide"
                    />
                  </div>
                </div>
                <a
                  class="carousel-control-prev"
                  href="#carouselExampleControls1"
                  role="button"
                  data-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a
                  class="carousel-control-next"
                  href="#carouselExampleControls1"
                  role="button"
                  data-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8"
        >
          <div
            *ngIf="!isSubmitted"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div>Réinitialiser Votre Mot de passe</div>
              <span>Utilisez le formulaire ci-dessous pour le récupérer.</span>
            </h4>
            <div>
              <form [formGroup]="resetPasswordForm" id="resetForm">
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleEmail" class="">Email</label>
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fa fa-inbox" style="cursor: pointer;"></i>
                          </div>
                        </div>
                        <input
                          name="email"
                          id="Email"
                          placeholder="Votre Email"
                          type="email"
                          formControlName="email"
                          class="form-control"
                          [(ngModel)]="email"
                          required
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mt-4 d-flex align-items-center">
                  <h6 class="mb-0">
                    <a [routerLink]="['/login']" class="text-primary"
                      >Connecter avec autre compte</a
                    >
                  </h6>
                  <div class="ml-auto">
                    <button
                      class="btn btn-primary btn-lg"
                      type="submit"
                      (click)="resetPassword()"
                    >
                      Reset Password
                    </button>
                  </div>
                </div>
              </form>
              <br />
              <div class="mb-3 progress" *ngIf="isLoading">
                <div
                  class="progress-bar progress-bar-animated bg-focus progress-bar-striped"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 100%;"
                ></div>
              </div>
            </div>
          </div>
          <div
            *ngIf="isSubmitted && isComplete"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div class="text-success">
                Réinitialisation du mot de passe demandée
              </div>
              <span
                ><b
                  >Consultez votre courrier électronique pour obtenir des
                  instructions supplémentaires.</b
                ></span
              >
            </h4>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg"
              >Connecter</a
            >
          </div>
          <div
            *ngIf="isSubmitted && !isComplete"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div class="text-error">
                Réinitialisation du mot de passe n'est pas demandée!
              </div>
              <span
                ><b>Votre addresse mail n'est pas encore enregistrée.</b></span
              >
            </h4>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg"
              >Connecter avec autre compte</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
