<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <div class="h-100">
      <div class="h-100 no-gutters row">
        <div class="d-none d-lg-block col-lg-4">
          <div class="slider-light">
            <div class="slick-slider">
              <div>
                <div
                  class="h-100 d-flex justify-content-center align-items-center bg-plum-plate"
                  tabindex="-1"
                >
                  <div
                    class="slide-img-bg"
                    style="
                      background-size: auto;
                      background-image: url('https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2018/10/blog-how-to-get-into-cybersecurity.png');
                    "
                  ></div>
                  <div class="slider-content">
                    <h3>Orange Voucher</h3>
                    <p>
                      Vous pouvez utiliser le portail d'administration pour
                      gérer d'autres utilisateurs, groupes et rôles afin de
                      contrôler l'accès aux applications et aux ressources
                      disponibles sur un serveur portail.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div
                  class="h-100 d-flex justify-content-center align-items-center bg-premium-dark"
                  tabindex="-1"
                >
                  <div
                    class="slide-img-bg"
                    style="
                      background-size: auto;
                      background-image: url('https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2018/10/blog-how-to-get-into-cybersecurity.png');
                    "
                  ></div>
                  <div class="slider-content">
                    <h3>Orange Voucher</h3>
                    <p>
                      Vous pouvez utiliser le portail d'administration pour
                      gérer d'autres utilisateurs, groupes et rôles afin de
                      contrôler l'accès aux applications et aux ressources
                      disponibles sur un serveur portail.
                    </p>
                  </div>
                </div>
              </div>
              <div>
                <div
                  class="h-100 d-flex justify-content-center align-items-center bg-sunny-morning"
                  tabindex="-1"
                >
                  <div
                    class="slide-img-bg opacity-6"
                    style="
                      background-size: auto;
                      background-image: url('https://res.cloudinary.com/springboard-images/image/upload/q_auto,f_auto,fl_lossy/wordpress/2018/10/blog-how-to-get-into-cybersecurity.png');
                    "
                  ></div>
                  <div class="slider-content">
                    <h3>Orange Voucher</h3>
                    <p>
                      Vous pouvez utiliser le portail d'administration pour
                      gérer d'autres utilisateurs, groupes et rôles afin de
                      contrôler l'accès aux applications et aux ressources
                      disponibles sur un serveur portail.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8"
        >
          <div
            *ngIf="!isSubmitted"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div>Réinitialiser Votre Mot de passe</div>
              <span>Utilisez le formulaire ci-dessous pour le récupérer.</span>
            </h4>
            <div>
              <form [formGroup]="resetPasswordForm" id="resetForm">
                <div class="form-row">
                  <div class="col-md-12">
                    <div class="position-relative form-group">
                      <label for="exampleEmail" class="">Email</label
                      ><input
                        name="email"
                        id="Email"
                        placeholder="Votre Email"
                        type="email"
                        formControlName="email"
                        class="form-control"
                        [(ngModel)]="email"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="mt-4 d-flex align-items-center">
                  <h6 class="mb-0">
                    <a [routerLink]="['/login']" class="text-primary"
                      >Connecter avec autre compte</a
                    >
                  </h6>
                  <div class="ml-auto">
                    <button
                      class="btn btn-primary btn-lg"
                      type="submit"
                      (click)="resetPassword()"
                    >
                      Reset Password
                    </button>
                  </div>
                </div>
              </form>
              <br />
              <div class="mb-3 progress" *ngIf="isLoading">
                <div
                  class="progress-bar progress-bar-animated bg-focus progress-bar-striped"
                  role="progressbar"
                  aria-valuenow="100"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 100%;"
                ></div>
              </div>
            </div>
          </div>
          <div
            *ngIf="isSubmitted && isComplete"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div class="text-success">
                Réinitialisation du mot de passe demandée
              </div>
              <span
                ><b
                  >Consultez votre courrier électronique pour obtenir des
                  instructions supplémentaires.</b
                ></span
              >
            </h4>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg"
              >Connecter</a
            >
          </div>
          <div
            *ngIf="isSubmitted && !isComplete"
            class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6"
          >
            <div class="app-logo" style="width: auto;">
              <h3 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="20%" />
                <span style="color: #f1745e;">Orange</span>
                <span style="font-size: 1.5rem; color: #d15e4f;">Voucher</span>
              </h3>
            </div>
            <h4>
              <div class="text-error">
                Réinitialisation du mot de passe n'est pas demandée!
              </div>
              <span
                ><b>Votre addresse mail n'est pas encore enregistrée.</b></span
              >
            </h4>
            <a [routerLink]="['/login']" class="btn btn-primary btn-lg"
              >Connecter avec autre compte</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
