<div class="app-container app-theme-white body-tabs-shadow">
  <div class="app-container">
    <!-- confirmation -->
    <form>
      <div class="h-100 bg-plum-plate bg-animation">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <div class="mx-auto app-login-box col-md-8">
            <div class="align-items-center" style="width: 20%; margin: 0 auto;">
              <h4 style="font-weight: 500;">
                <img src="../../../assets/images/orange.png" width="75px" />
                <span style="font-size: 1.5rem; color: #eccfca;">Orange</span>
                <span style="font-size: 1.4rem; color: #ffa66d;"
                  >&nbsp;Voucher</span
                >
                <!-- <span style="font-size: 1.5rem; color: #ffa66d;">oucher</span> -->
              </h4>
            </div>

            <div class="modal-dialog w-100 mx-auto">
              <div class="modal-content">
                <div class="modal-body">
                  <div class="h5 modal-title text-center">
                    <h4 class="mt-2">
                      <div>Bienvenue Cher Client,</div>
                      <span>Votre compte à été activé avec succés.</span>
                    </h4>
                    <h4 class="mt-2">
                      <div class="text-success">
                        Vous êtes prêt à démarrer dès maintenant..
                      </div>
                      <br />
                    </h4>
                    <div>
                      <a
                        [routerLink]="['/login']"
                        class="btn-lg btn btn-success btn-block"
                        >Connecter</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
