<!-- Notifications -->

<!-- <div class="p-2">
  <p-toast key="note"></p-toast>
</div> -->
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="widget-chart widget-chart2 text-left mb-3 card">
      <div class="container">
        <div class="row">
          <div class="col-md-2 text-md-center mx-md-auto col-4 px-0 my-auto">
            <img
              src="../../../assets/icons/all_vouchers.svg"
              width="80vw"
              alt="all_vouchers"
            />
          </div>
          <div
            class="widget-content-wrapper col-md-9 col-7 px-0 ml-auto"
            style="margin-top: 8px; margin-bottom: 8px;"
          >
            <div class="widget-content-left">
              <div class="widget-heading">Bons reçus</div>
              <div class="widget-subheading">Nombre de bons reçus</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers mb-0">
                <div
                  *ngIf="isVoucherLoading"
                  class="spinner-border spinner-border"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="total_count" >
                  <span  *ngIf="!isVoucherLoading" style="font-size: 75%;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button
      style="
        float: right;
        position: absolute;
        bottom: 30%;
        text-decoration: underline;
        right: 5%;
      "
      class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-danger"
    >
      Détail
    </button> -->
  </div>
  <!-- (click)="openStockDetails('available')" -->
  <div class="col-md-6 col-xl-6">
    <div class="widget-chart widget-chart2 text-left mb-3 card">
      <div class="container">
        <div class="row">
          <div class="col-md-2 text-md-center mx-md-auto col-4 px-0 my-auto">
            <img
              src="../../../assets/icons/vouchers.svg"
              width="80vw"
              alt="total_vouchers"
            />
          </div>
          <div
            class="widget-content-wrapper col-md-9 col-7 px-0 ml-auto"
            style="margin-top: 8px; margin-bottom: 8px;"
          >
            <div class="widget-content-left">
              <div class="widget-heading">Montant total</div>
              <div class="widget-subheading">Quantité de bons vendus</div>
            </div>
            <div class="widget-content-right">
              <div class="widget-numbers mb-0">
                <div
                  *ngIf="isVoucherLoading"
                  class="spinner-border spinner-border"
                  role="status"
                >
                  <span class="sr-only">Loading...</span>
                </div>
                <div id="total_amount" >
                  <span  *ngIf="!isVoucherLoading" style="font-size: 65%;"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <button
      style="
        float: right;
        position: absolute;
        bottom: 30%;
        text-decoration: underline;
        right: 5%;
      "
      class="mb-2 mr-2 border-0 btn-transition btn btn-shadow btn-outline-warning"
    >
      Détail
    </button> -->
  </div>
  <!-- (click)="openStockDetails('sold')" -->

  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <!-- loader screen -->
      <div class="block-loader"></div>
      <div class="sk-circle">
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
        <div class="sk-circle-dot"></div>
      </div>

      <div class="card-body">
        <h3 class="ml-4 mt-4">
          Liste Des Vouchers Reçus
        </h3>

        <div class="mr-4 mb-4">
          <div class="card-body m-2 table-responsive">
            <table
              style="width: 100%;"
              id="voucherTables"
              class="table table-hover table-striped table-bordered"
            >
              <thead>
                <tr>
                  <th>VOUCHER</th>
                  <th>NB CODES</th>
                  <th>MONTANT CODE RECHARGE</th>
                  <th>MONTANT TOTALE</th>
                  <th style="text-transform: uppercase;">
                    reçu LE
                  </th>
                  <th>VLIDE</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot>
                <tr>
                  <th>VOUCHER</th>
                  <th>NB CODES</th>
                  <th>MONTANT CODE RECHARGE</th>
                  <th>MONTANT TOTALE</th>
                  <th style="text-transform: uppercase;">
                    reçu LE
                  </th>
                  <th>VLIDE</th>
                </tr>
                <tr>
                  <!-- 
                    Here i put the #sum inside th -> total because the first column in the table is too long 
                    and if i put total in col & sum in seperate col the total will take too long and won't leave
                    space for sum, so i had to put it inside so it will look better in smaller screens 
                   -->
                  <th colspan="5" style="text-align: right;">Total: &nbsp; &nbsp; &nbsp; <strong><span id="sum"></span></strong></th>
                </tr>
              </tfoot>
            </table>
            <small class="form-text text-danger ml-2">
              (*) Les lignes marquées en rouge indiquent un inconvénient lors de
              l'insertion des nouveaux stocks.
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
