.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.slider-item button {
  position: relative;
  display: none;
  margin: auto !important;
}

.slider-item:hover span {
  display: none;
}

.slider-item:hover {
  background: rgba(0, 0, 0, 0.33);
}

.slider-item:hover button {
  display: inline;
  margin: auto !important;
}

.image-container {
  display: none;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 99999 !important;
  background: rgba(0, 0, 0, 0.9) !important;
}

@media (min-width: 1250px) {
  .app-sidebar-wrapper {
    display: none;
  }
}

@media (max-width: 1250px) {
  .app-inner-layout.app-inner-layout-page.app-layout-menu-open
    .app-inner-layout__wrapper
    .app-inner-layout__sidebar
    .app-layout__sidebar-inner {
    display: none;
  }
}
