<!-- Notifications -->
<div class="row">
  <div class="col-md-12 bg-white p-0 m-0">
    <div class="main-card">
      <div class="card-body p-0 m-0">
        <div *ngIf="!mClient">
          <div class="m-auto text-center" style="width: 10%;">
              <!-- loader screen -->
              <div class="block-loader"></div>
              <div class="sk-circle">
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
              </div>
          </div>
        </div>
        <div *ngIf="mClient && isOrdersReady" class="profile-cover">
          <img
            src="../../../assets/images/profile_cover.png"
            class="p-0 m-0"
            width="100%"
            height="140px"
            alt="profile-cover"
          />
          <div class="user_img text-center" style="margin-top: -55px;">
            <img
              src="../../../assets/images/user img.png"
              class="bg-white p-2"
              style="border-radius: 50%; border-color: gray;"
              alt="user_img"
              width="120px"
            />
          </div>
          <div class="text-center mb-3">
            <h3 class="my-2">{{ mClient.fname + " " + mClient.lname }}</h3>
            <h6 class="my-3" style="color: gray; letter-spacing: 2px;">
              {{ mClient.email }}
            </h6>
            <div class="menu-header-btn-pane">
              <button
                class="btn btn-success btn-rounded py-1 mt-1 mb-2"
                *ngIf="mClient.emailVerified"
              >
                <img
                  src="../../../assets/images/tick.png"
                  width="12px"
                  alt="tick"
                />
                Vérifié
              </button>
              <button class="btn btn-warning" *ngIf="!mClient.emailVerified">
                Non vérifié
              </button>
            </div>
          </div>
          <div class="row w-50 m-auto text-center">
            <div  class="col-lg-3 col-md-6 col-sm-6 mr-auto">
              <h2 style="color: blue;">
                <b  class="text-info">{{
                  validOrders.length +
                    nonValidOrders.length +
                    rejectedOrders.length
                }}</b>
              </h2>
              <h6>Total commandes</h6>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <h2 class="text-success">{{ validOrders.length }}</h2>
              <h6>Validées</h6>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 mx-sm-auto ml-auto">
              <h2 class="text-danger">{{ rejectedOrders.length }}</h2>
              <h6>Rejetées</h6>
            </div>
          </div>
          <div class="row my-3 mx-auto" style="width: 94%;">
            <div class="col-md-12 bg-light pt-4 pb-0 px-4">
              <!-- loader screen -->
              <div class="block-loader"></div>
              <div class="sk-circle">
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
              </div>
              <h2>Informations sur les comptes</h2>
              <div class="row mx-auto my-4">
                <div class="col-md-6 mr-auto pl-0">
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i
                          class="pe-7s-user text-muted fsize-2"
                          style="cursor: pointer;"
                        ></i>
                      </div>

                      <span style="color: #202020; font-size: 18px;"
                        >Username</span
                      >
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        {{ mClient.fname + " " + mClient.lname }}
                      </span>
                    </div>
                  </div>
                  <hr />
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i
                          class="pe-7s-mail text-muted fsize-2"
                          style="cursor: pointer;"
                        ></i>
                      </div>
                      <span style="color: #202020; font-size: 18px;"
                        >Email</span
                      >
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        {{ mClient.email }}
                      </span>
                    </div>
                  </div>
                  <hr />
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i class="pe-7s-phone text-muted fsize-2"></i>
                      </div>
                      <span style="color: #202020; font-size: 18px;"
                        >Tél</span
                      >
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        (+216) {{ mClient.phone || "---------" }} 
                      </span>
                    </div>
                  </div>
                  <hr />
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i class="pe-7s-news-paper text-muted fsize-2"></i>
                      </div>
                      <span style="color: #202020; font-size: 18px;"
                        >Num Patent</span
                      >
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        8516972Z
                      </span>
                    </div>
                  </div>
                  <hr />
                </div>
                <div class="col-md-6 w-auto">
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i class="pe-7s-id text-muted fsize-2"></i>
                      </div>
                      <span style="color: #202020; font-size: 18px;"
                        >Num CIN</span
                      >
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        {{ mClient.cin }}
                      </span>
                    </div>
                  </div>
                  <hr />
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i class="pe-7s-timer text-muted fsize-2"></i>
                      </div>
                      <span style="color: #202020; font-size: 18px;"
                        >INSCRIT LE</span
                      >
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        {{
                          mClient.creationAt | date: "short":"fr"
                        }}
                      </span>
                    </div>
                  </div>
                  <hr />
                  <div class="my-4 row">
                    <div class="col-md-5 d-flex align-items-end">
                      <div
                        class="widget-content-left center-elem mr-2 d-inline"
                      >
                        <i class="pe-7s-info text-muted fsize-2"></i>
                      </div>
                      <span style="color: #202020; font-size: 18px;">REF</span>
                    </div>
                    <div class="col-md-6 ml-auto text-right mr-3 align-items-center">
                      <span style="color: #787c80; font-size: 16px;">
                        {{ mClient.autoID }}
                      </span>
                    </div>
                  </div>
                  <hr />
                </div>
                <!-- <div class="col-md-5 d-flex align-items-end ml-auto">
                  
                </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="row mb-3 mt-4 mx-auto" style="width: 94%;">
            <div class="col-md-12 bg-light pt-4 pb-0 px-4">
              <h2>Modifier les informations</h2>
              <div class="row mx-auto my-4" style="width: 94%;">
                <div class="col-md-12 mr-auto">
                  <div class="py-2 row w-100 my-3">
                    <h5 class="col-md-3 mr-auto" style="color: #202020;">
                      Email
                    </h5>
                    <div class="col-md-5 d-flex align-items-end col-12 ml-auto">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i
                              class="fa fa-user-circle"
                              style="cursor: pointer;"
                            ></i>
                          </div>
                        </div>

                        <input
                          disabled
                          style="width: 240px;"
                          name="email"
                          id="exampleEmail"
                          [value]="mClient.email"
                          type="email"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="widget-content-right widget-content-actions">
                      <button
                        title="Edit"
                        class="mr-1 btn-icon btn-icon-only btn btn-primary py-2 btn-sm"
                        (click)="editInfo('email')"
                      >
                        <i class="pe-7s-tools btn-icon-wrapper"> </i>
                      </button>
                    </div>
                  </div>

                  <div class="py-2 row w-100 my-3">
                    <h5 class="col-md-3 mr-auto" style="color: #202020;">
                      Phone number
                    </h5>
                    <div class="col-md-5 d-flex align-items-end col-12 ml-auto">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i
                              class="fas fa-phone"
                              style="cursor: pointer;"
                            ></i>
                          </div>
                        </div>

                        <input
                          disabled
                          style="width: 240px;"
                          name="phone"
                          [value]="mClient.phone ? mClient.phone : ''"
                          type="text"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="widget-content-right widget-content-actions">
                      <button
                        title="Edit"
                        class="mr-1 btn-icon btn-icon-only btn btn-primary py-2 btn-sm"
                        (click)="editInfo('Téléphone')"
                      >
                        <i class="pe-7s-tools btn-icon-wrapper"> </i>
                      </button>
                    </div>
                  </div>

                  <div class="py-2 row w-100 my-3">
                    <h5 class="col-md-3 mr-auto" style="color: #202020;">
                      Password
                    </h5>
                    <div class="col-md-5 d-flex align-items-end col-12 ml-auto">
                      <div class="input-group mb-2 mr-sm-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-lock" style="cursor: pointer;"></i>
                          </div>
                        </div>

                        <input
                          disabled
                          style="width: 240px;"
                          name="password"
                          value="********"
                          type="password"
                          class="form-control"
                        />
                      </div>
                    </div>
                    <div class="widget-content-right widget-content-actions">
                      <button
                        title="Edit"
                        class="mr-1 btn-icon btn-icon-only btn btn-primary py-2 btn-sm"
                        (click)="navigate('portal/change-password')"
                      >
                        <i class="pe-7s-tools btn-icon-wrapper"> </i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <p-dialog
            header="Détail Commande"
            [(visible)]="displayModal"
            [style]="{ width: '50vw' }"
            [baseZIndex]="10000"
            [draggable]="false"
            [resizable]="false"
          >
            <div class="order_details_table">
              <h2>Détails de la commande</h2>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Client</th>
                      <th scope="col">Nombre Des Codes</th>
                      <th scope="col">Montant Code de recharge</th>
                      <th scope="col">Date Émission</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p><b>REF </b> {{ selectedOrder.clientRef }}</p>
                      </td>
                      <td>
                        <h5>x {{ selectedOrder.nbCodes }}</h5>
                      </td>
                      <td>
                        <h5>{{ selectedOrder.ticketAmount / 1000 }} DT</h5>
                      </td>
                      <td>
                        <p>
                          {{ selectedOrder.issueDate | date: "short":"fr" }}
                        </p>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <h4 class="text-secondary">
                          Commentaire <span *ngIf="isRejected">[Refus]</span>
                        </h4>
                      </td>
                      <td>
                        <h5></h5>
                      </td>
                      <td>
                        <p [ngClass]="{ 'text-danger': isRejected }">
                          <b>{{ selectedOrder.comment }}</b>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p-footer>
              <div role="group" class="btn-group-sm btn-group nav">
                <!-- <button class="mb-2 mr-2 btn btn-shadow btn-secondary">
          Annuler
        </button> -->
                <button
                  class="mb-2 mr-2 btn btn-shadow btn-primary"
                  (click)="displayModal = false"
                >
                  Annuler
                </button>
              </div>
            </p-footer>
          </p-dialog>
          <div
            class="col-md-12 col-lg-12 col-xl-12 mx-auto my-2"
            style="width: 97%;"
          >
            <div class="main-card mb-3 card" style="min-height: 95%;">
              <!-- loader screen -->
              <div class="block-loader"></div>
              <div class="sk-circle">
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
                <div class="sk-circle-dot"></div>
              </div>

              <div class="card-body">
                <div
                  class="card-header-tab card-header-tab-animation card-header"
                >
                  <div class="card-header-title">
                    <i
                      class="header-icon lnr-apartment icon-gradient bg-love-kiss"
                    >
                    </i>
                    Historiques Des Commandes
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a
                        data-toggle="tab"
                        href="#validated-ord"
                        class="nav-link active"
                        >Validées</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        data-toggle="tab"
                        href="#non-validated-ord"
                        class="nav-link second-tab-toggle"
                        >Non-validées</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        data-toggle="tab"
                        href="#rejected-ord"
                        class="nav-link second-tab-toggle"
                        >Rejetées</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div
                    class="mr-4 mb-4 tab-pane fade show active"
                    id="validated-ord"
                  >
                    <div class="card-body m-2">
                      <table
                        style="width: 100%;"
                        id="validated-table"
                        class="table table-hover table-striped table-bordered"
                      >
                        <thead>
                          <tr>
                            <th>REF COMMANDE</th>
                            <th>NB CODES</th>
                            <th>MONTANT CODE RECHARGE</th>
                            <th>MONTANT COMMANDE</th>
                            <th>DATE EMISSION</th>
                            <th>DATE VALIDATION</th>

                            <th>ACTIONS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of validOrders">
                            <td>{{ order.orderAuto }}</td>
                            <td>{{ order.nbCodes }}</td>
                            <td>{{ order.ticketAmount / 1000 }} DT</td>
                            <td>
                              {{ (order.ticketAmount * order.nbCodes) / 1000 }}
                              DT
                            </td>
                            <td>{{ order.issueDate | date: "short":"fr" }}</td>
                            <td>
                              {{ order.validationDate | date: "short":"fr" }}
                            </td>
                            <td>
                              <button
                                class="ml-2 mr-2 btn-icon btn-transition btn btn-outline-primary collapsed"
                                aria-expanded="false"
                                (click)="showDialog(order)"
                              >
                                <i class="pe-7s-upload btn-icon-wrapper"> </i
                                >Aperçu
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>REF COMMANDE</th>
                            <th>NB CODES</th>
                            <th>MONTANT CODE RECHARGE</th>
                            <th>MONTANT COMMANDE</th>
                            <th>DATE EMISSION</th>
                            <th>DATE VALIDATION</th>
                            <th>ACTIONS</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="mr-4 mb-4 tab-pane fade" id="non-validated-ord">
                    <div class="card-body m-2">
                      <table
                        style="width: 100%;"
                        id="non-validated-table"
                        class="table table-hover table-striped table-bordered"
                      >
                        <thead>
                          <tr>
                            <th>REF COMMANDE</th>
                            <th>NB CODES</th>
                            <th>MONTANT CODE RECHARGE</th>
                            <th>MONTANT COMMANDE</th>
                            <th>DATE EMISSION</th>

                            <th>ACTIONS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of nonValidOrders">
                            <td>{{ order.orderAuto }}</td>
                            <td>{{ order.nbCodes }}</td>
                            <td>{{ order.ticketAmount / 1000 }} DT</td>
                            <td>
                              {{ (order.ticketAmount * order.nbCodes) / 1000 }}
                              DT
                            </td>
                            <td>{{ order.issueDate | date: "short":"fr" }}</td>
                            <td>
                              <button
                                class="ml-2 mr-2 btn-icon btn-transition btn btn-outline-primary collapsed"
                                aria-expanded="false"
                                (click)="showDialog(order)"
                              >
                                <i class="pe-7s-upload btn-icon-wrapper"> </i
                                >Aperçu
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>REF COMMANDE</th>
                            <th>NB CODES</th>
                            <th>MONTANT CODE RECHARGE</th>
                            <th>MONTANT COMMANDE</th>
                            <th>DATE EMISSION</th>
                            <th>ACTIONS</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                  <div class="mr-4 mb-4 tab-pane fade" id="rejected-ord">
                    <div class="card-body m-2">
                      <table
                        style="width: 100%;"
                        id="rejected-table"
                        class="table table-hover table-striped table-bordered"
                      >
                        <thead>
                          <tr>
                            <th>REF COMMANDE</th>
                            <th>NB CODES</th>
                            <th>MONTANT CODE RECHARGE</th>
                            <th>MONTANT COMMANDE</th>
                            <th>DATE EMISSION</th>
                            <th>DATE REFUS</th>

                            <th>ACTIONS</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let order of rejectedOrders">
                            <td>{{ order.orderAuto }}</td>
                            <td>{{ order.nbCodes }}</td>
                            <td>{{ order.ticketAmount / 1000 }} DT</td>
                            <td>
                              {{ (order.ticketAmount * order.nbCodes) / 1000 }}
                              DT
                            </td>
                            <td>{{ order.issueDate | date: "short":"fr" }}</td>
                            <td>
                              {{ order.validationDate | date: "short":"fr" }}
                            </td>
                            <td>
                              <button
                                class="ml-2 mr-2 btn-icon btn-transition btn btn-outline-primary collapsed"
                                aria-expanded="false"
                                (click)="showDialog(order)"
                              >
                                <i class="pe-7s-upload btn-icon-wrapper"> </i
                                >Aperçu
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>REF COMMANDE</th>
                            <th>NB CODES</th>
                            <th>MONTANT CODE RECHARGE</th>
                            <th>MONTANT COMMANDE</th>
                            <th>DATE EMISSION</th>
                            <th>DATE REFUS</th>
                            <th>ACTIONS</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Old Profile -->

<!-- <div class="row">
  <div class="col-sm-12 col-lg-12 col-xl-3">
    <div class="mb-3 profile-responsive card">
      <div class="dropdown-menu-header">
        <div class="dropdown-menu-header-inner bg-primary">
          <div
            class="menu-header-image opacity-1"
            style="
              background-image: url('assets/images/dropdown-header/abstract3.jpg');
            "
          ></div>
          <div class="menu-header-content btn-pane-right">
            <div
              class="avatar-icon-wrapper mr-3 avatar-icon-xl btn-hover-shine"
            >
              <div class="avatar-icon rounded">
                <img src="assets/images/avatars/1.jpg" alt="Avatar 5" />
              </div>
            </div>
            <div>
              <h5 class="menu-header-title">
                {{ mClient.fname + " " + mClient.lname }}
              </h5>
              <h6 class="menu-header-subtitle">{{ mClient.email }}</h6>
            </div>
            <div class="menu-header-btn-pane">
              <button class="btn btn-success" *ngIf="mClient.emailVerified">
                Vérifié
              </button>
              <button class="btn btn-warning" *ngIf="!mClient.emailVerified">
                Non vérifié
              </button>
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="widget-content pt-4 pb-4 pr-1 pl-1">
            <div class="text-center">
              <h5 class="mb-0">
                <span class="pr-1">
                  <b class="text-info">{{
                    validOrders.length +
                      nonValidOrders.length +
                      rejectedOrders.length
                  }}</b>
                  commandes effectées, </span
                ><br />
                <span
                  ><b class="text-success">{{ validOrders.length }}</b>
                  validées</span
                >
                <span
                  ><br /><b class="text-danger"> {{ rejectedOrders.length }}</b>
                  rejetées</span
                >
              </h5>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left center-elem mr-2">
                <i class="pe-7s-info text-muted fsize-2"></i>
              </div>
              <div class="widget-content-left">
                <div class="widget-heading">
                  REF <span class="text-success">{{ mClient.autoID }}</span>
                </div>
              </div>
              <div class="widget-content-right widget-content-actions">
                <button
                  class="mr-1 btn-icon btn-icon-only btn btn-primary btn-sm"
                >
                  <i class="pe-7s-tools btn-icon-wrapper"> </i>
                </button>
                <button class="btn-icon btn-icon-only btn btn-success btn-sm">
                  <i class="pe-7s-umbrella btn-icon-wrapper"> </i>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left center-elem mr-2">
                <i class="pe-7s-news-paper text-muted fsize-2"></i>
              </div>
              <div class="widget-content-left">
                <div class="widget-heading">
                  NUM PATENTE
                  <span class="text-secondary">{{ mClient.username }}</span>
                </div>
              </div>
              <div class="widget-content-right widget-content-actions">
                <button
                  class="mr-1 btn-icon btn-icon-only btn btn-primary btn-sm"
                >
                  <i class="pe-7s-tools btn-icon-wrapper"> </i>
                </button>
                <button class="btn-icon btn-icon-only btn btn-success btn-sm">
                  <i class="pe-7s-umbrella btn-icon-wrapper"> </i>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left center-elem mr-2">
                <i class="pe-7s-id text-muted fsize-2"></i>
              </div>
              <div class="widget-content-left">
                <div class="widget-heading">
                  NUM CIN <span class="text-secondary">{{ mClient.cin }}</span>
                </div>
              </div>
              <div class="widget-content-right widget-content-actions">
                <button
                  class="mr-1 btn-icon btn-icon-only btn btn-primary btn-sm"
                >
                  <i class="pe-7s-tools btn-icon-wrapper"> </i>
                </button>
                <button class="btn-icon btn-icon-only btn btn-success btn-sm">
                  <i class="pe-7s-umbrella btn-icon-wrapper"> </i>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left center-elem mr-2">
                <i class="pe-7s-phone text-muted fsize-2"></i>
              </div>
              <div class="widget-content-left">
                <div class="widget-heading">
                  Tél
                  <span class="text-success"
                    >(+216) {{ mClient.phone || "---------" }}</span
                  >
                </div>
              </div>
              <div class="widget-content-right widget-content-actions">
                <button
                  class="mr-1 btn-icon btn-icon-only btn btn-primary btn-sm"
                >
                  <i class="pe-7s-tools btn-icon-wrapper"> </i>
                </button>
                <button class="btn-icon btn-icon-only btn btn-success btn-sm">
                  <i class="pe-7s-umbrella btn-icon-wrapper"> </i>
                </button>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="widget-content p-0">
            <div class="widget-content-wrapper">
              <div class="widget-content-left center-elem mr-2">
                <i class="pe-7s-timer text-muted fsize-2"></i>
              </div>
              <div class="widget-content-left">
                <div class="widget-heading">
                  INSCRIT LE
                  <span class="text-secondary">{{
                    mClient.creationAt | date: "short":"fr"
                  }}</span>
                </div>
              </div>
              <div class="widget-content-right widget-content-actions">
                <button
                  class="mr-1 btn-icon btn-icon-only btn btn-primary btn-sm"
                >
                  <i class="pe-7s-tools btn-icon-wrapper"> </i>
                </button>
                <button class="btn-icon btn-icon-only btn btn-success btn-sm">
                  <i class="pe-7s-umbrella btn-icon-wrapper"> </i>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="p-0 list-group-item">
          <div class="grid-menu grid-menu-2col">
            <div class="no-gutters row">
              <div class="col-sm-6">
                <div class="p-1">
                  <button
                    class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success"
                  >
                    <i
                      class="lnr-bus text-success opacity-7 btn-icon-wrapper mb-2"
                    >
                    </i>
                    Historiques
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="p-1">
                  <button
                    class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus"
                  >
                    <i
                      class="lnr-gift text-focus opacity-7 btn-icon-wrapper mb-2"
                    >
                    </i>
                    Paramètres
                  </button>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->

<!-- Old Profile -->
